<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shoppingcart">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".customer_deteils"></activity>
        <activity android:name=".customer_edit" />
        <activity android:name=".register" />
        <activity android:name=".registration" />
        <activity android:name=".delevery_Intruduction" />
        <activity android:name=".delevery_thankyou" />
        <activity android:name=".delevery_activity_main" />
        <activity android:name=".CheckOut" />
        <activity android:name=".My_Cart" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>